<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/404.css">
        <title>Cars and Cats | 404</title>
    </head>
    <body>
        <section>
            <h1>404 PAGE NOT FOUND!</h1>
            <p>Looks like you're lost! <a href="/">Here</a>, I'll show the way!</p>
        </section>
    </body>
</html>