<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/cars.css">
        <script src="https://kit.fontawesome.com/929adf1879.js" crossorigin="anonymous"></script>
        <title>Cars and Cats | Cats</title>
    </head>
    <body>
        <section>
            <img src="images/cat_1.jpeg">
            <img src="images/cat_2.jpeg">
            <img src="images/cat_3.jpeg">
            <img src="images/cat.png">
            <a href="/">Back To Home Page</a>
        </section>
    </body>
</html>