<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/index.css">
        <script src="https://kit.fontawesome.com/929adf1879.js" crossorigin="anonymous"></script>
        <title>Cars and Cats | Home</title>
    </head>
    <body>
        <section>
            <a href="/cars">
                <i class="fas fa-car"></i>
            </a>
            <a href="/cats">
                <i class="fas fa-cat"></i>
            </a>
        </section>
    </body>
</html>